{% extends 'bcs/base.html' %}
{%load static %}
{% block content %}

<div class="container">
  <h1 class="title">Sistema LOBC - Localize o Bombeiro Comunitário</h1>
  <h2 class="subtitle">Detalhes do BC:</h2>
</div>

<section class="section">

  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <div class="tile is-child box">
        <div class="has-text-centered">

          {% if bc.bc_usuario.usu_foto %}
          <img class="avatar" src="../media/{{bc.bc_usuario.usu_foto}}">
          {% else %}
          <img class="avatar" src='{% static "img/sem-imagem.png" %}'>
          {% endif %}
          <p class="title">{{bc.bc_usuario.usu_nome}}</p>
          <p class="subtitle">{{bc}}</p>
          <p class="title">
            <span class="tag is-link is-medium">{{bc.bc_graduacao}}</span>
            <span class="tag is-success is-medium">{{bc.bc_usuario.usu_lotacao}}</span>
          </p>
        </div>
        
            
          <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="article">
                  <br>
              <p class="title has-text-centered">Informações Pessoais</p>
              <p><strong>Data de nasc.: </strong>{{bc.bc_usuario.usu_data_de_nascimento}}</p>
              <p><strong>Filiação: </strong>{{bc.bc_usuario.usu_filiacao}}</p>
              <p><strong>Estado civil: </strong>{{bc.bc_usuario.get_estado_civil}}</p>
              <p><strong>CPF: </strong>000.000.000-00</p>
              <p><strong>RG: </strong>0.000.000</p>
              <p class="subtitle has-text-centered">Informações Adicionais</p>
              <p><strong>Nome de Guerra: </strong>{{bc}}</p>
              <p><strong>Graduação: </strong>{{bc.bc_graduacao}}</p>
              <p><strong>Lotação: </strong>{{bc.bc_usuario.usu_lotacao}}</p>
              <p><strong>Data da Formatura: </strong>{{bc.bc_data_formatura}}</p>
              <p><strong>Data da ultima promoção: </strong>{{bc.bc_data_ultima_promocao}}</p>
              <p><strong>Status: </strong>{{bc.get_situacao}}</p>
              {% if not bc.bc_cnh %}
                <p><strong>CNH: </strong>Não Possui</p>
              {% else %}
                <p><strong>CNH Cat.: </strong>{{bc.bc_cnh.get_categoria}} / <strong>n.: </strong>00000000 / <strong>Validade: </strong>{{bc.bc_cnh.cnh_validade}}</p>
              {% endif %}
              {% if bc.bc_cnh.cnh_condutor_emergencia %}
                <p><strong>Condutor de Emergência: </strong>Sim</p>
                <p><strong>Data do Último CVE: </strong>{{bc.bc_cnh.cnh_ultimo_cve}}</p>
              {% endif %}
              {% if bc.bc_mergulhador %}
                <p><strong>Megulhador: </strong>Sim</p>
              {% else %}
                <p><strong>Megulhador: </strong>Não</p>
              {% endif %}


            </div>
          </div>
    </div>
  </div>
</section>

{% endblock %}