{% extends 'bcs/base.html' %}
{%load static %}
{% block content %}

<div class="container">
      <h1 class="title">Sistema LOBC - Localize o Bombeiro Comunitário</h1>
    <h2 class="subtitle">Detalhes do BC:</h2>
  </div>

<section class="section">
  
  <div class="tile is-ancestor">

  <div class="tile is-parent">
    <div class="tile is-child box">
      <div class="has-text-centered">

        {% if bc.bc_usuario.usu_foto %}
          <img class="avatar" src="../media/{{bc.bc_usuario.usu_foto}}">
        {% else %}
          <img class="avatar" src='{% static "img/sem-imagem.png" %}'>
        {% endif %}

        
        <p class="title">{{bc.bc_usuario.usu_nome}}</p>
        <p class="subtitle">{{bc}}</p>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
    </div>
  </div>
</div>
</section>

{% endblock %}